!--Fonts--
Xft.dpi: 96
Xft.autohint: 0 
Xft.lcdfilter: lcddefault 
Xft.hintstyle: hintfull
Xft.hinting: 1 
Xft.antialias: 1 
Xft.rgba: rgb

!--Cursor--
Xcursor.theme: Vimix-white-cursors
Xcursor.size: 16

!--Nsxiv--
Nsxiv.window.background: #000000
Nsxiv.window.foreground: #ffffff
Nsxiv.font: mononoki
